
/* #d83938 */
/* topbar css */
body{
    font-size: 15px;
}
section.topbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background:#d83938;
    padding:5.3225vw 3.125vw;
}
section.topbar .logo .topsvg{
   width:142px;
   height:25px;

   /* 因为svg默认是inline-block,会在下边留个空隙，也就是外边的div不能完全包裹svg */
   /* 这个是inline-block的BUG,可以通过 vertical-align:top 解决*/
   vertical-align:top;
}
section.topbar > a{
    display: inline-block;
    color:#fff;
    padding:5px 10px 4px 10px ;
    line-height: 20px;
    position: relative;
}
section.topbar > a:after{
    content:"";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid #fff;
    border-radius:35px;
    -webkit-transform: scale(0.5);
    transform:scale(0.5);
    transform-origin: 0 0;
}


/* tabs css */
.tabs{
    display: flex;
    border-bottom:1px solid #ccc;
}
.tabs > li{
    flex:1;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
} 
.tabs > li.active{
    color:#d33a31;
}
.tabs > li .text{
    padding:10px 5px;
    position: relative;
    top:1px;
}
.tabs > li.active .text:after{
    content: "";
    position: absolute;
    bottom:1px;
    left:0;
    height:2px;
    width:100%;
    background:#d33a31;
}
.tabContent > li{
    display: none;
}
.tabContent > li.active{
    display: block;
}



/*playLists css  */
section.playLists{
    padding-top:20px;
}
section.playLists h2{
    color:#333;
    font-size: 17px;
    border-left:2px solid #d33a31;
    /* 通过设置行高为1，让边框高度和字体一样 */
    line-height: 1;
    padding-left:8px;
    margin-bottom:14px;
}
section.playLists ul.songs{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-size: 13px;
}
section.playLists ul.songs > li{
    width:32.7%;
    margin-bottom:16px;
}
section.playLists ul.songs > li img{
    width:100%;
}
section.playLists > ul.songs > li p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;  /*要显示的行数*/ 
    -webkit-box-orient:vertical;
    line-height: 16px;
    padding:6px 2px 0 6px;;
}
section.playLists{}
section.songs{}
section.art{}

