

/* common css */
body{
    font-size: 15px;
    color:#333;
}
.sectionTitle{
    font-size: 17px;
    border-left:2px solid #d33a31;
    /* 通过设置行高为1，让边框高度和字体一样 */
    line-height: 1;
    padding-left:8px;
    margin-bottom:14px;
}
small{
    color:#888;
}


/* sticky  fixed */
.sticky{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 1;
    background:#fff;
}


/* topbar css */
section.topbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background:#d83938;
    padding:5.3225vw 3.125vw;
   
}
section.topbar .logo .topsvg{
   width:142px;
   height:25px;

   /* 因为svg默认是inline-block,会在下边留个空隙，也就是外边的div不能完全包裹svg */
   /* 这个是inline-block的BUG,可以通过 vertical-align:top 解决*/
   vertical-align:top;
}
section.topbar > a{
    display: inline-block;
    color:#fff;
    padding:5px 10px 4px 10px ;
    line-height: 20px;
    position: relative;
}
section.topbar > a:after{
    content:"";
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid #fff;
    border-radius:35px;
    -webkit-transform: scale(0.5);
    transform:scale(0.5);
    transform-origin: 0 0;
}






/* tabs css */
.tabs{
    display: flex;
    border-bottom:1px solid #ccc;
}
.tabs > li{
    flex:1;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
} 
.tabs > li.active{
    color:#d33a31;
}
.tabs > li .text{
    padding:10px 5px;
    position: relative;
    top:1px;
}
.tabs > li.active .text:after{
    content: "";
    position: absolute;
    bottom:1px;
    left:0;
    height:2px;
    width:100%;
    background:#d33a31;
}


.tabContent{
    margin-top:104px;
}
.tabContent > li{
    display: none;
}
.tabContent > li.active{
    display: block;
}





/*playLists css  */
section.playLists{
    padding-top:20px;
}
section.playLists ul.songs{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    font-size: 13px;
}
section.playLists ul.songs > li{
    width:32.7%;
    margin-bottom:16px;
}
section.playLists ul.songs > li img{
    width:100%;
}
section.playLists > ul.songs > li p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:2;  /*要显示的行数*/ 
    -webkit-box-orient:vertical;
    line-height: 16px;
    padding:6px 2px 0 6px;;
}




/* songs css */
section.songs{}
section.songs > .list > li > h3{
    font-size: 17px;
}
section.songs > .list > li > p{
    font-size: 12px;
    color:#888;
}
section.songs > .list > li{
    position:relative;
    margin-left:10px;
    padding-top:5px;
    padding-bottom:4px;
    border-bottom:1px solid #e2e2e2;
}
section.songs > .list .playButton{
    position:absolute;
    right:8px;
    top:50%;
    transform: translateY(-50%);
}
section.songs > .list .icon-play{
    width:22px;
    height:22px;
    vertical-align: middle;
    fill:#aaa;
}
section.songs > .list .icon-sq{
    width:14px;
    height:14px;
    margin-right:4px;
    fill:#fe6721;
}

.square-spin >  div {
   background-color:#d83938;
   width:50;
   margin:0 auto;
}



/* art css */
section.art{
    background: url(https://neteasemusic-1258247871.cos.ap-shanghai.myqcloud.com/recommand_bg_2x.png)center center no-repeat;
    background-size: cover;
    padding-top:38px;
    padding-bottom:18px;
    text-align: center;
}

section.art  svg{
    width:230px;
    height:44px;
    vertical-align: middle;
}
section.art .link a{
    margin-top:15px;
    margin-bottom:5px;
    padding:0 17px;
    display: inline-block;
    line-height: 38px;
    font-size: 16px;
    color:#d33a31;
    border:1px solid ;
    border-radius:38px;
}
section.art .copyright{
    font-size: 12px;
    transform: scale(0.7);
}


/* search css */
.form-input{
    padding:15px 10px;
    border-bottom:1px solid #ccc;
}
.inputCover{
    width:100%;
    padding:0 30px;
    background:#ebecec;
    border-radius:15px;
    position: relative;
    display: flex;
    align-items: center;
}
.inputCover > .input{
    border:none;
    outline: none;
    width:100%;
    height:30px;
    line-height: 18px;
    font-size: 14px;
    color:#333;
    background:transparent;
}
.inputCover .iconSearch{
    position: absolute;
    left:0px;
    margin:0 8px;
}

/* searchResult */

.searchResultBox > .tips{
    color:#507daf;
    font-size: 15px;
    height:50px;
    line-height: 50px;
    margin-left:10px;
    border-bottom:1px solid #f6f6f6;
}
.searchResultBox > .searchResult > .item{
    border-bottom:1px solid #f6f6f6;
    line-height: 45px;
    margin-left:20px;
}

.page-2 > .hotSong > .hotop{
    background:transparent url('//neteasemusic-1258247871.cos.ap-shanghai.myqcloud.com/hot_music_bg.jpg')center no-repeat;
    width:100%;
    height:38.9vw;
    background-size:contain;
    padding-left:20px;
    padding-top:20px;
    color:#fff;
}
.hotSong > .hotop > h2{
    font-size: 35px;
}
.hotSong > .hotop > h3{
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}
.hotSong > .hotop >.hotTime{
    font-size: 12px;
    margin-top:5px;
}
.hotSong > .hotList > a{
    display: block;
    margin-left:10px;
    height:55px;
    position: relative;
    border-bottom:1px solid #f6f6f6;
}
.hotSong > .hotList > a > .descrip > p > svg{
    fill:#fe6721;
}
.hotSong > .hotList > a .ranking{
    position: absolute;
    left:10;
    line-height: 55px;
    color:#999;
}

.hotSong > .hotList > a .descrip{
    margin-left:30px;
    margin-right:20px;
    padding-top:5px;
}
.hotSong > .hotList > a .playBtn{
    position: absolute;
    right:10px;   
    top:50%;
    transform: translateY(-50%);
}
.hotSong .check{
    color:#999;
    text-align: center;
    padding:15px;
}
